body {
    background-color: rgb(59, 79, 100);
  }
  ul {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .item {
    list-style: none;
    padding: 0.5rem 0.1rem;
    border: 3px solid white;
    display: flex;
    justify-content: space-around;
    width: 70%;
    height: 75px;
    align-items: center;
    color: white;
    margin: 1rem auto;
    border-radius: 10px;
  }

  h1 {
    text-align: center;
    color: white;
  }

  .limpar {
    font-size: 13px;
    width: 8rem;
    border-radius: 10px;
    height: 3rem;
    border: none;
  }

  span {
    cursor: pointer;
  }

  .edit {
    width: 19px;
    height: 20px;
    cursor: pointer;
  }

  .acoes {
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
  }

  .cad {
    text-decoration: none;
    color: white;
    padding: 2px;
    font-size: 20px;
  }

  .divNomes {
    gap: 2rem;

  }

  p {
    margin: 0 !important;
  }

  @media screen and (min-width: 500px) {
    div {
    display: flex;
    justify-content: space-around; 
    align-items: center;
     margin: 1.5rem;
    }
  }

  @media screen and (max-width: 500px) {
    .item {
      list-style: none;
      padding: 0.5rem 0.1rem;
      border: 3px outset white;
      display: flex;
      justify-content: space-around;
      width: 100%;
      color: white;
      border-radius: 10px;
      margin-bottom: .1rem;
    }

    .edit {
      width: 15px;
      height: 18px;
      margin-top: 3px;
    }

    .acoes {
      gap: 0.5rem;
    }

    h1 {
      font-size: 20px;
    }

    .main {
      display: flex;
      justify-content: space-around;
      margin: 1.5rem;
    }

    .divNomes {
      font-size: 11px;
    }
    .limpar {
      height: 2.3rem;
    }
  }