section {
    display: flex;
    justify-content: center;
    transform: translateY(35%);
  }

  form {
    background: rgb(169, 179, 193);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    border: 1px outset black;
    border-radius: 3%;
  }

  input {
    margin: 1rem;
    padding: 0.5rem;
    outline: none;
    width: 90%;
  }

  input[type="submit"] {
    border-radius: 7px;
    width: 50%;
    border: none;
  }
  
  input[type="submit"]:hover {
    background-color: rgb(115, 120, 126);
    color: white;
  }

  #nome , #email {
    border-radius: 5px;
    border: none
  }

  body {
    background-color: rgb(59, 79, 100);
  }

  #chek {
    margin-block: 2rem;
  }

  .yes_no {
    margin: 0.2rem;
  }

  h1 {
    padding: 1rem;
  }

  .item {
    list-style: none;
    position: relative;
    padding: 1rem 2rem;
    border: 1px outset white;
    display: flex;
    gap: 3rem;
    margin: 1rem;
    align-items: center;
    color: white;
  }

  p {
    margin: 0 !important;
  }

  h4 {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
  }
  h4 a {
    text-decoration: none;
    color: white;
  }

  @media screen and (max-width: 600px) {
    form {
      width: 87%;
      padding: 1rem;
    }
  }

  @media screen and (min-width: 600px) {
    form {
      width: 28%;
      padding: 3rem;
    }
  }