* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(47, 56, 58, 0.644);
  height: 100vh;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(59, 100, 108);
  color: white;
  padding: 5rem;
  border-radius: 10px;
  gap: 1.5rem;
}

label {
  font-size: 20px;
}

button {
  width: 5rem;
  height: 2.3rem;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  background-color: rgb(29, 110, 56);
  color: white;
  border: 1px dashed rgb(43, 255, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}

form div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.load {
  display: none;
  width: 1.5rem;
}

input {
  width: 15rem;
  border-radius: 5px;
  padding: 0.5rem;
  border: none;
  outline: none;
}

.nome_buscado {
  margin-top: 0.5rem;
  margin-bottom: -1.5rem;
  font-size: 20px;
}

.error {
  color: rgb(255, 80, 80);
  position: absolute;
  margin-top: 4rem;
}

.div_error {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media screen and (max-width: 600px) {
  form {
    padding: 3.1rem;
  }
}
